<template>
    <div id="about">
        <ul class="nav flex-column sub-menu">
            <li > <router-link class="nav-link" :to="{name: 'home'}">Домой</router-link></li>
        </ul>
        Некий текст
        <button class="btn btn-success" @click="showAlert">Hello world</button>
    </div>
</template>

<script>

    export default {
        name: 'about',
        methods: {
            showAlert() {
                this.$swal({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.$router.push({name: 'table'})
                        this.$swal.fire(
                            'Удалено!',
                            'Ваша запись успешно удалена.',
                            'success'
                        )
                    }
                })
            },
        },
    };

</script>

<style>
    #about {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }

    #about li {
        list-style: none;
    }
</style>