<template>
    <div class="">
        <p>Form Edit</p>
        <router-link class="btn btn-success" :to="{name: 'todo'}">Назад</router-link>
        <button class="btn btn-info" @click="show('new-task')">Добавить задачу</button>
        <br><br><br>

        <div class="kanban">
            <kanban-board :stages="stages" :blocks="blocks" @update-block="updateBlock">
                <div class="slot-kanban" v-for="block in blocks" :slot="block.id" :key="block.id" @click="show('hello-world', block.id)">
                    <div class="title-kanban">
                        <strong class="id-kanban">id:</strong> {{ block.id }}
                    </div>
                    <div style="color: #2c3e50">
                        {{ block.title }}
                    </div>
                    <div>
                      {{ setCutText(block.description) }}
<!--                      {{ block.description }}-->
                    </div>
                </div>
            </kanban-board>
        </div>

        <modal name="hello-world" :height="'500px'" :weight="'720px'" >

            <div class="kanban-modal">

                <div v-for="block in one_block">
                    <div class="container">
                        <form @submit.prevent="editBlock()">

                            <div class="form-group">
                                <label for="title">Заголовок</label>
                                <input type="text" v-model="block.title" class="form-control" name="title" id="title">
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Заголовок</label>
                                    <textarea class="form-control" v-model="block.description" id="exampleFormControlTextarea1" rows="12"></textarea>
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>

            </div>

        </modal>

        <modal name="new-task" :height="'500px'" :weight="'750px'" >

            <div class="kanban-modal">

                <div class="container">
                    <form @submit.prevent="createNewTask()">
                        <div class="form-group">
                            <label for="title">Заголовок</label>
                            <input type="text" v-model="new_task.title"  class="form-control" name="title" id="" placeholder="Название задачи">
                        </div>

                        <div class="form-group">
                            <label for="task-title">Заголовок</label>
                            <textarea class="form-control" v-model="new_task.description" id="task-title" rows="3" placeholder="Описание задачи"></textarea>
                        </div>

                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

        </modal>

    </div>
</template>

<script>

    export default {
        name: "Form",

        data () {
            return {
                stages: [
                  'on-hold',
                  'in-progress',
                  'needs-review',
                  'approved',
                ],
                blocks: [],
                form: {
                    update_block_id: [],
                    update_block_status: [],
                },
                one_block: {},
                new_task: {},
            }
        },

        methods: {
            updateBlock(id, status) {
                this.form.update_block_id = id;
                this.form.update_block_status = status;

                return axios(
                    {
                        method: 'post',
                        data:
                          this.form
                        ,
                        url: '/update-block',
                        headers: {
                          'Authorization': 'Bearer ' + localStorage.access_token
                        }
                    }
                )
                .then((response) => {
                    console.log(response);
                })

            },

            getBlock(){
                return axios(
                    {
                        method: 'post',
                        url: '/block',
                        headers: {
                          'Authorization': 'Bearer ' + localStorage.access_token
                        }
                    }
                )
                .then((response) => {
                    this.blocks = response.data;
                })
            },

            show (modal_name, id) {
                this.getOneBlock(id);
                this.$modal.show(modal_name);
            },

            hide () {
                this.$modal.hide('hello-world');
            },

            getOneBlock(id) {
                return axios(
                    {
                        method: 'post',
                        url: '/one-block/' + id,
                        headers: {
                          'Authorization': 'Bearer ' + localStorage.access_token
                        }
                    }
                )
                .then((response) => {
                    this.one_block = response.data;
                    console.log(this.one_block);
                })
            },

            editBlock() {
                return axios(
                    {
                        method: 'post',
                        data: this.one_block,
                        url: '/block-edit',
                        headers: {
                            'Authorization': 'Bearer ' + localStorage.access_token
                        }
                    }
                )
                .then((response) => {
                    this.hide();
                    console.log(response);
                })
            },

            createNewTask() {
                return axios(
                    {
                        method: 'post',
                        data: this.new_task,
                        url: '/new-task',
                        headers: {
                            'Authorization': 'Bearer ' + localStorage.access_token
                        }
                    }
                )
                .then((response) => {
                    this.$toasted.success('Задача успешно добавлена');
                    this.$modal.hide('new-task');
                    this.getBlock();
                    this.$nextTick(); // футкция для обновления DOM
                    console.log(response);
                })
            },

            /* обрезка текста */
            setCutText(text) {
                if (text == null) {
                    return 'non description';
                }

                let size = 55;

                if (text.length > size) {
                    return text.slice(0, size) + '...';
                }

                return text;
            }
        },

        mounted() {
            this.getBlock();
        }
    }

</script>

<style>

@import '../../node_modules/vue-kanban/src/assets/kanban.scss';


ul.drag-list, ul.drag-inner-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.drag-container {
  max-width: 1000px;
  margin: 20px auto;
}

.drag-list {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 690px) {
  .drag-list {
    display: block;
  }
}

.drag-column {
  flex: 1;
  margin: 0 10px;
  position: relative;
  background: rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
@media (max-width: 690px) {
  .drag-column {
    margin-bottom: 30px;
  }
}
.drag-column h2 {
  font-size: 0.8rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
}

.drag-column-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.drag-inner-list {
  min-height: 50px;
  color: white;
}

.drag-item {
  padding: 10px;
  margin: 10px;
  height: 100px;
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.drag-item.is-moving {
  transform: scale(1.5);
  background: rgba(0, 0, 0, 0.8);
}

.drag-header-more {
  cursor: pointer;
}

.drag-options {
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.drag-options.active {
  transform: translateX(0);
  opacity: 1;
}
.drag-options-label {
  display: block;
  margin: 0 0 5px 0;
}
.drag-options-label input {
  opacity: 0.6;
}
.drag-options-label span {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 400;
  margin-left: 5px;
}

/* Dragula CSS  */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  list-style-type: none;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
}

/*фон колонок*/
.drag-column.drag-column-approved {
  background-color: #28a74575;
}

.drag-column.drag-column-in-progress {
  background-color: #b8daff;
}

.drag-column.drag-column-needs-review {
  background-color: #f1d47f;
}

.drag-column.drag-column-on-hold {
  background-color: #e83e8c36;
}
/************/

.drag-item {
  height: 140px;
}

</style>
