<template>
    <div class="">
        <h3>ToDo</h3>
        <div>
            <b-form-checkbox v-model="checked" name="check-button" switch>
                Switch Checkbox <b>(Checked: {{ checked }})</b>
            </b-form-checkbox>
        </div>

        <br>

        <div class="" :style="'width:100px;height:30px;cursor:pointer;background:'+colors.color_fon" @click="show('color-back')"></div>
        <modal name="color-back" :height="'auto'" :adaptive="true" :classes="'padding-20'" style="min-height: 400px;" >
            <photoshop-picker v-model="colors.hex" @input="updateColor" />
        </modal>

        <br>

        <router-link class="btn btn-success" :to="{name: 'form'}">Добавить запись</router-link>

        <br>
        <br>

        <date-picker v-model="time3" range :lang="lang" valueType="format"></date-picker>

    </div>
</template>

<script>

    import { Photoshop } from 'vue-color';
    import DatePicker from 'vue2-datepicker';

    export default {

        name: 'todo',

        components: {
            'photoshop-picker': Photoshop,
            'DatePicker': DatePicker,
        },

        data() {
            return {
                colors: {
                    hex: '#00FF1E',
                    color_fon: '#00FF1E',
                },
                checked: false,

                time3: '',

                lang: {
                    days: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                    months: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                    pickers: ['next 7 days', 'next 30 days', 'previous 7 days', 'previous 30 days'],
                    placeholder: {
                        date: 'Select Date',
                        dateRange: 'Select Date Range'
                    }
                },
            }
        },

        methods: {
            show () {
                this.$modal.show('color-back');
            },

            hide () {
                this.$modal.hide('color-back');
            },

            updateColor() {
                this.colors.color_fon = this.colors.hex.hex;
            },
        },
    }
</script>
