<template>
    <v-server-table :url="url" :columns="columns" :options="options" ref="table"></v-server-table>
</template>

<script>


    export default {

        data() {
            return {
                columns: [
                    'id',
                    'title',
                    'page',
                    'total',
                    'category_id',
                ],
                options: {
                    headings: {
                        id: 'id',
                        title: 'Заголовок',
                        page: 'Количество страниц',
                        total: 'Цена',
                        category_id: 'категория',
                    },
                    sortIcon: { base:'fa', up:'fa-sort-asc', down:'fa-sort-desc', is:'fa-sort' },
                    filterable: false,
                    skin: 'table table-striped table-hover',
                    params: {
                        operator_id: 0,
                        project_id: [],
                        date_from: null,
                        date_to: null,
                    },
                },
                url: 'http://spa-api.loc/api/books',
                // url: 'http://blog.loc/books/',
                filter: {
                    operators: {},
                    projects: {}
                },
                datePickerOptions: {
                    lang: 'ru',
                    timeOptions: {
                        start: '00:00',
                        step: '01:00',
                        end: '23:00'
                    },
                    format: 'YYYY-MM-DD HH:mm',
                },
            }
        },


    }

</script>
