<template>
    <div id="app">
        <header>
<!--            <h1>Vue SPA!</h1>-->
        </header>
        <ul class="nav justify-content-center" style="background-color: antiquewhite">
            <li class="nav-item"><router-link class="nav-link" exact active-class="active" :to="{name: 'home'}">Home</router-link></li>
            <li class="nav-item"><router-link class="nav-link" exact active-class="active" :to="{name: 'auth'}">Auth</router-link></li>
            <li class="nav-item"><router-link class="nav-link" active-class="active" :to="{name: 'about'}">About</router-link></li>
            <li class="nav-item"><router-link class="nav-link" active-class="active" :to="{name: 'table'}">Table</router-link></li>
            <li class="nav-item"><router-link class="nav-link" active-class="active" :to="{name: 'todo'}">Todo</router-link></li>
        </ul>
        <div class="container">
            <div class="content">
                <transition name="fade" mode="out-in">
                    <router-view></router-view>
                </transition>
            </div>
        </div>
    </div>
</template>

<script>

    import axios from 'axios';

    export default {
        name: 'app',
        data() {
            return {
                posts: null,
                endpoint: 'https://jsonplaceholder.typicode.com/posts/',
            }
        },

        created() {
            this.getAllPosts();
        },

        methods: {
            getAllPosts() {
                axios.get(this.endpoint)
                    .then(response => {
                        this.posts = response.data;
                    })
                    .catch(error => {
                        console.log('-----error-------');
                        console.log(error);
                    })
            }
        }
    }

</script>

<style>
  /*.slide-fade-enter-active {*/
  /*  transition: all .3s ease;*/
  /*}*/
  /*.slide-fade-leave-active {*/
  /*  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);*/
  /*}*/
  /*.slide-fade-enter, .slide-fade-leave-active {*/
  /*  padding-left: 10px;*/
  /*  opacity: 0;*/
  /*}*/

  .fade-enter-active, .fade-leave-active {
    /*transition: opacity .3s;*/
    transition: all .3s ease;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
  }
</style>
