<template lang="html">
    <div class="post" v-if="post">
        <h1 class="post__title">{{ post.title }}</h1>
        <p class="post__body">{{ post.body }}</p>
        <p class="post__id">{{ post.id }}</p>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: 'post',
        props: ['id'],
        data() {
            return {
                post: null,
                endpoint: 'https://jsonplaceholder.typicode.com/posts/',
            }
        },

        methods: {
            getPost(id) {
                axios(this.endpoint + this.$route.params.id)
                    .then(response => {
                        this.post = response.data
                    })
                    .catch(error => {
                        console.log(error)
                    })
            }
        },

        watch: {
            '$route'() {
                this.getPost(this.id);
            }
        },

        created() {
            this.getPost(this.id);
        },
    }
</script>
