<template lang="html">

  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth px-0">
      <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
          <div class="auth-form-light text-left py-5 px-4 px-sm-5">
            <div class="brand-logo">
<!--              <img src="/assets/images/logo.png" alt="logo">-->
            </div>
            <h4>Hello! World</h4>
            <h6 class="font-weight-light">Sign in to continue.</h6>
            <form class="pt-3" @submit.prevent="login">
              <div class="form-group">
                <input type="email" class="form-control form-control-lg" placeholder="Username" v-model="form.email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control form-control-lg" placeholder="Password"
                       v-model="form.password">
              </div>
              <div class="mt-3">
                <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">SIGN
                  IN
                </button>
              </div>
              <div class="my-2 d-flex justify-content-between align-items-center">
<!--                <router-link class="auth-link text-black" :to="{name: 'forgot'}">Forgot password?</router-link>-->
<!--                <router-link class="auth-link text-black" :to="{name: 'registr'}">Registration</router-link>-->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>

</template>


<script>
  export default {
    data() {
      return {
        form: {}
      }
    },

    methods: {

      login() {

        axios.post('/auth/login', this.form).then((response) => {
          if (response.data.access_token.length > 10){
            this.$store.dispatch('SAVE_AUTH_DATA', response.data);
          }
        }).catch(error => {
          this.isProcessed = false;

          if (error.response.status == 422) {
            return this.$toastr.w('Проверьте правильность заполнения формы.');
          }

          if (error.response.status == 401) {
            return this.$toastr.w('Неверный логин или пароль.');
          }

          this.$toastr.e('Internal error');
        });

      }

    },

  }
</script>
